@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face{
    src: url(../font/mandalore.ttf);    
    font-family: mandalore;
}

@font-face{
    src: url(../font/waltograph42.otf);
    font-family: waltDisney;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* ----------------------           Basic staff UP           ---------------- */ 

/*-------------------------------------- background loop mp4 -------------------------------------- */
.video-container{
    position: absolute;
    top: 120px;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video{
    position: absolute;
    top: 50%;   
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    min-width: 436vw;
    min-height: 100vh;
    transform: translate(-50%, -50%);
}
/*-------------------------------------- background loop mp4 -------------------------------------- */
body{
    font-family: Lato, sans-serif;
    color: #555555;    
}    

#head{
    height: 80px;
    width: 100%;
}

/* ----------------------           Main title                  ---------------- */ 
h2{
    font-family: mandalore, sans-serif;
    letter-spacing: 1px;    
    color: #555555;
}

p{
    font-family: Lato;
    font-size: 20px;
    margin-top: 0px;
}

#logo{
    float: left;
    font-size: 350%;
    margin-left: 22px;
    margin-top: -23px;
}

#the{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 100%;    
    position: relative;    
    text-align: center;
    margin-bottom: -48px;
    font-size: 20%;
    position: relative;
}

#the:before{
    content: "";
    display: block;
    width: 45%;
    height: 2%;
    background: #555555;
    position: absolute;
    left: 0px;
    top: 53.5%;
}

#the:after{
    content: "";
    display: block;
    width: 45%;
    height: 2%;
    background: #555555;
    position: absolute;
    right: 0px;
    top: 53.5%;
}

/* ----------------------           Main title                ---------------- */ 

/* ----------------------           home/gallery/sign in buttons           ---------------- */
#menu{
    font-size: 120%;
    list-style-type: none; 
    color: inherit;  
}

#menu li{
    float: right;
    margin-right: 25px;   
}

#logo, #menu{
    line-height: 75px;
}

#menu li a{
    font-family: waltDisney, sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: lighter;      
}

#menu li a:hover{
    color: rgb(255, 145, 0);
}

.active{
    color: rgb(255, 145, 0);
}
/* ----------------------           home/gallery/sign in buttons          ---------------- */

/* -------------------------------------------          POP UP 3 options          ------------------------------------------- */
#popup{
    margin-top: 60px;
    height: 600px;
    width: 100%;
    text-align: center;
}
/* --------------------------------          POP UP "left"          -------------------------------- */
#left{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#left-container{
    width: 75%;
    height: 480px;
    padding: 30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 4px;
    border-radius: 20px;
    margin: 0 auto;
}

#left-container-lc {
    background: url(../img/main-left.jpeg) no-repeat center center;
    height: 100%;
    opacity: 0%;
    border-radius: 20px;
    transition: 1s;
    border: 4px solid rgba(255, 255, 255, 0.4);
}

#left-container-lc:hover{
    transform: scale(1.22);
    z-index: 2;
    opacity: 95%;
    border-color: rgb(255, 255, 255);
}

#left-container-lc p{
    
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 20%;
    padding-right: 20%;
}
/* --------------------------------          POP UP "left"          -------------------------------- */

/* --------------------------------          POP UP "right"          -------------------------------- */
#right{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#right-container{
    width: 75%;
    height: 480px;
    padding: 30px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 4px;
    border-radius: 20px;
    margin: 0 auto;
}

#right-container-rc{
    background: url(../img/sell2.jpg) no-repeat center center;
    height: 100%;
    opacity: 0%;
    border-radius: 20px;
    transition: 1s;
    border: 4px solid rgba(255, 255, 255, 0.4);
}

#right-container-rc:hover{
    transform: scale(1.22);
    z-index: 2;
    opacity: 95%;
    border-color: rgb(255, 255, 255);
}

#right-container-rc p{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 20%;
    padding-right: 20%;
}
/* --------------------------------          POP UP "right"          -------------------------------- */

/* --------------------------------          POP UP "center"          -------------------------------- */
#center{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#center-container{
    width: 75%;
    height: 480px;
    padding: 30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 4px;
    border-radius: 20px;
    margin: 0 auto;
}

#center-container-cc {
    background: url(../img/center.jpg) no-repeat center center;
    height: 100%;
    opacity: 0%;
    border-radius: 20px;
    transition: 1s;
    border: 4px solid rgba(255, 255, 255, 0.4)
}

#center-container-cc:hover{
    transform: scale(1.2);
    z-index: 2;
    opacity: 95%;
    border-color: rgb(255, 255, 255);
}

#center-container-cc p{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 20%;
    padding-right: 20%;
}
/* --------------------------------          POP UP "center"          -------------------------------- */

.zec{
    margin-top: -350px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: bolder;
    text-align: center;
    font-family: waltDisney, sans-serif;
    letter-spacing: 4px;
    font-weight: lighter;
}

.rt{
    text-decoration: none;
}

.rt p{
    padding-top: 20%;
    font-family: mandalore, sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.rt hr{
    padding: 70px;
}
/* -------------------------------------------          POP UP 3 options          ------------------------------------------- */

/* -------------------------------               section 5 quick-pick's              ------------------------------- */
#quick-pick{
    background-image: url(../img/background-cian2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    height: 330px;
    width: 100%;
    overflow: hidden;
}

#quick-pick .link{
    background-color: rgba(0, 0, 0, 0.4);
    width: 19%;
    height: 100%;
    float: left;
    border-radius: 8px;
    text-align: center;
    margin-top: 8px;
    padding: 80px 0 0 0px;
    margin-left: 10px;
}

#quick-pick .link hr{
    background-color: none;
    height: 10px;
    width: 50%;
}

#quick-pick .link h5{
    font-size: 120%;
    font-family: waltDisney, sans-serif;
    font-weight: lighter;
}

#quick-pick .link p{
    font-size: 100%;
}

.link{
    text-decoration: none;
}

#quick-pick .link{
    color: #ffffff;
    transition: all 1.5s;
}

#quick-pick .link:hover{
    color: rgb(255, 145, 0);
    background-color: rgb(128, 128, 128, 0.2);
}
/* -------------------------------               section 5 quick-pick's              ------------------------------- */

/* -------------------------------               footer              ------------------------------- */
footer{
    height: 140px;
}

.social-networks{
    text-align: center;
}
.social-networks li{
    display: inline;
}
.social-networks i{
    font-size: 150%;
    margin: 2;
    padding: 3%;
    color: #555555;
    transition: 1.5s;
}

.social-networks i:hover{
    color: rgb(255, 145, 0);
}
/* -------------------------------               footer              ------------------------------- */

/* -------------------------------               gallery styling              ------------------------------- */
#photo{
    clear: both;
    line-height: normal;
    column-count: 4;
    column-gap: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 40px;    
}

#photo img{
    width: 100%;
    transition: 1.5s;
}

#photo img:hover{
    transform: scale(1.2);
    z-index: 10;
    padding: 6px;
    background-color: rgb(255, 145, 0);
}
/* -------------------------------               gallery styling              ------------------------------- */

/* -------------------------------               sign in styling              ------------------------------- */
#sig-up{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.sign-up{
    width: 1280px;
    height: 670px;
    
    text-align: center;
    background-image: url("https://i0.wp.com/www.fr24news.com/a2/wp-content/uploads/2020/11/star-wars-the-mandalorian-baby-yoda-eats-eggs-1244083-1280x0.jpeg?fit=1280%2C670&ssl=1");
    border-radius: 15px;
    top: 50%;
    overflow: hidden;
    margin-top: 5%;
}

.sign-up h1{
    font-family: waltDisney, sans-serif;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 200%;
    color: white;
    padding: 30px;
    margin-top: 5%;
    text-align: center;
}

.sign-up input{
    text-align: center;
    color: white;
    width: 80%;
    height: 44px;
    font-family: Lato, sans-serif;
}

.txtb{
    margin: 20px 0;
    background: rgb(128, 128, 128, 0.2);
    border-radius: 5px;
}

.txtb:hover{
    background: rgba(255, 123, 0, 0.2);
}

.signup-btn{
    margin-top: 40px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.5);
    font-family: waltDisney,sans-serif;
    font-weight: 500;
    font-size: 105%;
    border-radius: 10px;
}

.signup-btn:hover{
    color: rgba(255, 255, 255,);
    background-color: rgb(255, 145, 0, .5);
}

.sign-up a{
    font-family: waltDisney,sans-serif;
    letter-spacing: 4px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 200%;
    transition: 1s;
}

.sign-up a:hover{
    color: rgb(255, 145, 0, 0.1);
    text-shadow: #FC0 1px 0 10px;
}
/* -------------------------------               sign in styling              ------------------------------- */
/* ------------------------------------- media query ------------------------------------- */
@media screen and (max-width: 1016px){
    #quick-pick{
        width: 100%;
        height: 100%;     
    }

    #quick-pick .link{
        width: 98%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 552px){
    #menu{
        clear: left;
        float: left;
        margin-left: 5%;
        text-align: center;
        margin-bottom: -40px;
    }
    
    #logo{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    menu, li{
        margin-left: 5px;
        text-align: center;
    }

    #quick-pick h4 h5{
        display: none;

    }

    .video-container{
        margin-top: 20px;
        width: 100%;
    }

}
/* ------------------------------------- media query ------------------------------------- */

/* ------------------------------------  unfinishe dpages    ---------------------------------------*/

#work{
    padding: 15%;
    text-align: center;
}

/* ------------------------------------  unfinishe dpages    ---------------------------------------*/